/*!
 * Full Background img
 */


html { 
  position: relative;
  min-height: 100%;
  background: url(/AmericanChanger/img/charts2.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

navbar {
   background-color: transparent;
   background: transparent;
   border-color: transparent;
}

navbar li { color: #000 } 

/* Sticky footer styles
-------------------------------------------------- */
body {
  /* Margin bottom by footer height */
  margin-bottom: 210px;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  opacity: 0.7; 
  /* Set the fixed height of the footer here */
  height: 210px;
  background-color: transparent;
}
