/*!
 * Start Bootstrap - Logo Nav HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */



@media (max-width: 2000px) {

	body {
	    padding-top: 25px; /* Required padding for .navbar-fixed-top. Change if height of navigation changes. */
	}

	.navbar-fixed-top .nav {
	    padding: 15px 0;
	}
	
	.bigtext {
    margin-left: auto;
    margin-right: auto;
    font-size:20px
	}

	.navbar-fixed-top .navbar-brand {
	    padding: 0 15px;
	}
	.navbar-header {
	float: none;
	}
	.navbar-left,.navbar-right {
	float: none !important;
	}
	.navbar-collapse.collapse {
	display: none!important;
	}
	.navbar-nav {
	float: none!important;
		margin-top: 7.5px;
	}
	.navbar-nav>li {
	float: none;
	}
	.navbar-nav>li>a {
	padding-top: 10px;
	padding-bottom: 10px;
	}
	.collapse.in{
		display:block !important;
	}
	
}
